@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Open+Sans:wght@300&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding-bottom: 0%;
    font-size: 70px;
}

h4 {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 40px;
    
}
body {
    background: rgb(250,223,235);
    background: radial-gradient(circle, rgba(250,223,235,1) 0%, rgba(236,234,245,1) 100%);
 
}

/*-----------------------------INDEX-HOME----------------------------*/

.header {
    display: grid;
    grid-template-rows: 1fr 0.3fr ;
    justify-items: center;
    margin-bottom: 0px;
    width: 100%;
}


#header_big_title {
    font-family: 'Grape Nuts', cursive;
    font-size: 100px;
    height: 100px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    margin-top: 0px;
    padding-top: 0px;
    font-weight: lighter;
    background-color: white;
}

#header_icono_bailarina{
    display: inline-block;
    width: 50px;
    height: auto;
}

.header_tittle_image{
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: white;
}

.subtitle {
    font-family: 'Karla', sans-serif;
    padding: 5px;
    font-size: 25px;
}

.header_menu_bar {
    padding: 10px;
    width: 100%;
    margin-bottom: 0px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 5px;
    margin-top: 10px;
    
}

.header_menu_text {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black  ; 
}

.header_menu_text:hover {
    color: #7D7D7D;
}

#index_text_box_2 {
    text-align: center;
    padding: 20px;
    margin: 10px;
    max-width: 500px;
    position: absolute;
    bottom: 8px;
    right: 16px;

}

.index_description_main{
    font-family: 'Karla', sans-serif;
    font-size: 17px;

}

#comunidad_title {
    font-size: 60px;
    font-family: 'Nanum Pen Script', cursive;
    margin: 20px;
    padding: 20px;    
    
}

.index_description_2 {
    font-family: 'Karla', sans-serif;
    font-size: 17px;
}

.central_image {
    width: 100%;
    height: auto;
    
}

.comunidad_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: rgb(250,223,235);
    background: radial-gradient(circle, rgba(250,223,235,1) 0%, rgba(236,234,245,1) 100%);
    padding: 10px;
    row-gap: 5px;
    column-gap: 5px;
    
}

@media only screen and (max-width: 1000px) {
    .comunidad_images{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .header_tittle_image{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px;
    }
    .header_menu_bar{
        flex-direction: column;
        display: flex;
        
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
       
    }
    
    .header_menu_text{
        text-align: center;
        width: 100%;
        padding: 3px;
        margin: 3px;
        
    }
    .header_menu_text:hover{
        background-color: white;
        
    }
    .hamb_menu{
        display: flex;
        position: absolute;
        top: 26px;
        right: 20px;
        width: 50px;
        height: auto;


    }
    .header_menu_bar.active {
        display: flex;
    }
    .mobile_button{
        position: absolute;
        flex-direction: column;
        top: 36px;
        right: 20px;
        display: flex;
        justify-content: space-between;
        width: 40px;
        height: 31px;

    }

    .mobile_button .bar{
        height: 4px;
        width: 100%;
        background-color: black;
        border-radius: 45px;

    }
    #header_big_title{
        display: none;

    }
    .subtitle{
        display: none;
    }
    .subtitle_section{
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        
    }
    #header_icono_bailarina{
        position: absolute;
        top: 20px;
        left: 20px;

    }
    .central_image{
        display: none;
    }
    .index_section{
        text-align: center;

    }
    .index_description_main{
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        margin: 10px;
    }

    #index_side_title{
        font-family: 'Grape Nuts', cursive;
        font-weight: lighter;
        font-size: 100px;
        padding: 10px;
        margin: 10px;
        margin-bottom: 0px;

        
    }
    .header{
        display: grid;
        grid-template-rows: 100px;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .index_section_secondary{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
    }
    #comunidad_title {
        font-size: 30px;
        font-family: 'Nanum Pen Script', cursive;
        display: block;   
        
    }
    
}

.comunidad_image{
    width: 100%;
    height: auto;
    border: #D5D5D5;
}

@media only screen and (min-width: 1000px){

.hamb_menu{
display: none;
}

.subtitle_section{
    display: none;
}

.index_section {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#index_side_title{
    font-family: 'Grape Nuts', cursive;
    font-weight: lighter;
    font-size: 130px;
    padding: 10px;
    margin: 10px;
    display: inline;
    margin-bottom: 0px;
    
}

.index_text_box {
   text-align: left;
   padding: 10px;
   margin: 10px;
   margin-bottom: 0px;
   position: absolute;
   top: 270px;
    left: 16px;
  max-width: 500px;
}

}
.contenedor:hover .comunidad_image {-webkit-transform:scale(1.3);transform:scale(1.3);}

#side-subtittle-index{
    font-family: 'Karla', sans-serif;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

#footer_social_media {
    text-align: center;

}

.footer_list_item_social_media {
    list-style-type: none;
    display: inline;
}

#visitanos {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Hind Siliguri', sans-serif;
    color: black  ; 
}

.footer_social_media_image{
    width: 26px;
    height: auto;
    padding: 10px;
}

.footer_icon {
    width: 13px;
    height: auto;
    display: inline-block;/**/
    padding-top: 5px;
    
}

.footer_text{
    display: inline-block; /**/
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 15px;
    color: black  ; 
}

.footer_list_item {
    list-style: none;
    display: block;
    text-align: center;
    width: 100%; /**/
    
}

#footer {
    margin-top: 10px;
    
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: rgb(250,223,235);
    background: radial-gradient(circle, rgba(250,223,235,1) 0%, rgba(236,234,245,1) 100%);
    margin-top: 0px;
}

/*------------------------ACTIVIDADES-------------------*/

@media only screen and (max-width: 1000px) {
    #activities {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    }
    .activity {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 1fr;
        text-align: center;
    }
    #activities-tittle {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30px;
        margin-bottom: 10px;
        font-size: 36px;
        text-align: center;
    }
    .activity-tittle{
        text-align: center;
        font-size: 30px;
        padding: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        
    }
    .activity-description-box {
        width: 100%;
        padding: 0px;
        text-align: center;
        margin: 5px;
        font-size: 15px;
    }
    .activity-image{
        width: 100%;
        height: auto;
        
        
    }
    .activity-paragraph {
        display: block;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
        padding: 10px;
    }
    .activity-image{
        width: 100%;
        height: auto;
    }
    .activity-time {
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        padding: 10px;
    }
    

}
@media only screen and (min-width: 1000px){
    .activity {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
        .activity-tittle {
            padding: 100px 10px 10px 10px;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 40px;
        
        }
    
#activities {
    display: grid;
    grid-template-rows: 1fr 1fr;
    }
    
    
    
    #activities-tittle {
        font-size: 45px;
        font-family: 'Karla', sans-serif;
        text-align: center;
    }
    
    .activity-image{
        width: 700px;
        height: auto;
        padding: 20px;
        border-radius: 75px;
        
    }
    
    .activity-description-box {
        display: inline-block;
        /*float: right;*/
        width: 600px;
        height: 400px;
        padding: 20px;
        text-align: center;
    
    }
    
    .activity-paragraph {
        padding: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
    }
    
    .activity-tittle {
        padding: 100px 10px 10px 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
    
    }
    
    .activity-time {
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        padding: 10px;
    }
    
    #activity2-image {
    float: right;
    }
    
    #activity2-description-box {
        float: left;
    }
    
}

/*
#activities {
    display: grid;
    grid-template-rows: 1fr 1fr;
    }
    
    
    
    #activities-tittle {
        font-size: 45px;
        font-family: 'Caveat', cursive;
        text-align: center;
    }
    
    .activity-image{
        width: 700px;
        height: auto;
        padding: 20px;
        border-radius: 75px;
        
    }
    
    .activity-description-box {
        display: inline-block;
        
        width: 600px;
        height: 400px;
        padding: 20px;
        text-align: center;
    
    }
    
    .activity-paragraph {
        padding: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
    }
    
    .activity-tittle {
        padding: 100px 10px 10px 10px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
    
    }
    
    .activity-time {
        font-family: 'Inconsolata', monospace;
        font-size: 20px;
        padding: 10px;
    }
    
    #activity2-image {
    float: right;
    }
    
    #activity2-description-box {
        float: left;
    } */
/*----------------------EVENTOS----------------------------*/
@media only screen and (max-width: 1000px){
    
    #eventos-tittle{
        display: block;
        text-align: center;
         font-size: 15px;
    }
    .evento-image{
        width: 100%;
        border-radius: 0px;
    }
}

#eventos-tittle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    font-family: 'Karla', sans-serif;
    display: block;
    text-align: center;
}

.evento-image {
    width: 430px;
    height: auto;
    max-height: 737px;
    border-radius: 75px;
}
.events-list-item {
    text-align: center;
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.event-tittle {
    padding: 10px 10px 10px 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.event-description {

}
/*-----------------------------SOBRE NOSOTROS------------------------------------------*/
@media only screen and (max-width: 1000px){
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.08fr 0.08fr 0.08fr 1fr;
    }

    #nosotros-tittle {
        font-size: 15px;
        display: block;
        width: 100%;
    }
    #fundadora-tittle{
        display: block;

    }
    #fundadora {
        display: block;
        font-size: 14px;
    }
    #fundadora-image {
        width: 100%;
        height: auto;
        padding: 5px;
        border-radius: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

}

.nosotros {
    display: grid;
    grid-template-rows: 0.08fr 0.08fr 0.08fr 1fr;
    text-align: center;
}

#nosotros-tittle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    font-family: 'Karla', sans-serif;
}

#fundadora-tittle {
    
    padding-left: 30px;
}

#fundadora {
    
    font-size: 55px;
    padding-left: 30px;
    font-family: 'Caveat', cursive;
}
@media only screen and (min-width: 1000px){
   #fundadora-image {
    width: 700px;
    height: auto;
    padding: 20px;
    padding-top: 10px;
    border-radius: 75px;
    
} 
#fundadora-tittle {
    
    padding-left: 30px;
}

#fundadora {
    
    font-size: 55px;
    padding-left: 30px;
    font-family: 'Caveat', cursive;
}
}


.fundadora-text{
    font-size: 20px;
    display: block;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px;
}

/*-------------------CONTACTO----------------------------*/


#escribenos_mensaje{
    display: block;
    text-align: center;
}
#contacto-subtittle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    display: block;
    text-align: center;

}

.formulary {
text-align: center;
margin: 20px;


}
.nosotros{
    display: grid;
    text-align: center;
}

.etiqueta {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    margin: 10px;
    font-family: 'Karla', sans-serif;
}
.fill-space {
    padding: 5px;
    width: 250px;
    border-radius: 4px;
    border: 2px solid #D5D5D5;
    margin: 10px;
}
#long-message {
    height: 200px;
    text-align: start;
}
.button {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
    border: #787878;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
}
